<html lang="no" ng-app="adminApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin side @klarlakk</title>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap-3.1.1.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap-theme-3.1.1.min.css"/>
    <script src="/lib/jquery-1.11.1.min.js"></script>
    <script src="/lib/bootstrap/bootstrap-3.1.1.min.js"></script>
<!--
    <script type="text/javascript" src="/lib/angular/angular-1.2.10.min.js"></script>
-->
    <!--<script type="text/javascript" src="/lib/mindmup-editabletable.js"></script>-->
    <!--<script src="/adminapp/controllers.js"></script>
    <script src="/adminapp/app.js"></script>-->

    <script src="/lib/jquery.handsontable.full.js"></script>
    <link rel="stylesheet" href="/lib/jquery.handsontable.full.css"/>


    <link rel="stylesheet" href="/admin.css"/>
</head>
<body>
<div class="mainContent">
<h4>Ordre</h4>
    <div style="height:15px;">
        <div id="messageOk" class="alert alert-success" role="alert" style="width:400px;"></div>
        <div id="messageError" class="alert alert-danger" role="alert" style="width:400px;"></div>
    </div>
    
    <div style="margin-top:20px;">
        <table id="dataTable">

        </table>
    </div>
</div>
<script>
    $( document).ready(function() {
        $("#messageOk").hide();
        $("#messageError").hide();

        var data = [
            ["", "licencePlate", "name", "mobile", "orderDate","price","comments"],
                <%
                    for(var i=0;i < orders.length;i++){
                    var o=orders[i];
                    var price=o.price;
                    if(price == undefined) price="";
                    %>
                        ['<%=o._id%>','<%=o.licencePlate%>', '<%=o.name%>', '<%=o.mobile%>', '<%=o.orderDate%>', '<%=price%>','<%=o.comments%>']

                    <%
                        if(i<orders.length){
                        %><%=','%><%
                        }
                    }
                %>
        ];

        $("#dataTable").handsontable({
            data: data,
            colHeaders: true,
            afterChange: function(changes, source) {
            if(source!='loadData'){
                console.log(changes[0][0]);
                var changedRow=data[changes[0][0]];
                var field=data[0][changes[0][1]];
                var objectId=changedRow[0];
                var newValue=changes[0][3];
                console.log("fieldName:"+field);
                console.log("changedRow:"+changedRow);
                console.log("id:"+objectId);
                console.log("value:"+newValue);
                console.log(changes);

                $.ajax({
                    type: "POST",
                    url: "/adminside/updateOrder",
                    data: { fieldName: field, orderId: objectId, updateValue:newValue}
                })
                .success(function( msg ) {
                     $("#messageOk").text(field+" er lagret!").show(200,function(e){
                         $("#messageOk").fadeOut(3000);
                     });
                })
                .error(function( msg ) {
                     $("#messageError").text("feil ved lagring av "+field).show(200,function(e){
                         $("#messageError").fadeOut(6000);
                     });
                });

            }
          }
        });
    });
</script>
</body>
</html>
